@using Portal.Data
@inject ApplicationDbContext DbContext
@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Download Coremod";
    ViewBag.SubTitle = "Download";
}
@section Sidebar {
    @Html.Partial("Sidebar/_DownloadSidebar", 0)
}
@section HeadDevelopment {
    @Html.Partial("Lib/_Font-Awesome.css")
    <link rel="stylesheet" href="~/css/download.css" asp-append-version="true"/>
}
@section Head {
    @Html.Partial("Lib/_Font-Awesome.min.css")
    <link rel="stylesheet" href="~/css/download.min.css"/>
}

<h3>Download</h3>

<div class="card">
    <ul class="list-group list-group-flush">
        @foreach (var minecraftVersion in DbContext.MinecraftVersions.AsEnumerable())
        {
            <li class="list-group-item">
                <div class="card-item-btn-container">
                    <p>Minecraft @minecraftVersion.Version</p>
                    <a class="btn btn-sm btn-outline-success"
                       asp-controller="Download" asp-action="Index" asp-route-version="@minecraftVersion.Id" asp-route-type="coremod">
                        <i class="fa fa-download mr-1" aria-hidden="true"></i>
                        Coremod
                    </a>
                    <a class="btn btn-sm btn-outline-success ml-2"
                       asp-controller="Download" asp-action="Index" asp-route-version="@minecraftVersion.Id" asp-route-type="property">
                        <i class="fa fa-download mr-1" aria-hidden="true"></i>
                        Property
                    </a>
                </div>
            </li>
        }
    </ul>
</div>