<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewData["Title"] - Portal</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/ress/ress.css"/>
        @Html.Partial("Lib/_Bootstrap.css")
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" href="~/lib/jquery.fancytree/skin-lion/ui.fancytree.css">
        <link rel="stylesheet" href="~/css/editor.css"/>

        @Html.Partial("Lib/_jQuery.js")
        @Html.Partial("Lib/_Bootstrap.js")
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/jquery.layout/jquery.layout.js"></script>
        <script src="~/lib/jquery.fancytree/jquery.fancytree-all.js"></script>
        <script src="~/lib/ace/ace.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/ress/ress.min.css"/>
        @Html.Partial("Lib/_Bootstrap.min.css")
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="~/lib/jquery.fancytree/skin-lion/ui.fancytree.min.css">
        <link rel="stylesheet" href="~/css/editor.min.css" asp-append-version="true"/>

        @Html.Partial("Lib/_jQuery.min.js")
        @Html.Partial("Lib/_Bootstrap.min.js")
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/jquery.layout/jquery.layout.min.js"></script>
        <script src="~/lib/jquery.fancytree/jquery.fancytree-all.min.js"></script>
        <script src="~/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
@await Html.PartialAsync("_Toolbar")
<div class="body-content">
    @RenderBody()
</div>
<footer>
    <p>&copy; 2017!! - Portal</p>
</footer>
@RenderSection("Scripts", required: false)
</body>
</html>