@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env
@if (_env.EnvironmentName == "Development")
{
    if (IsSectionDefined("Head"))
    {
        IgnoreSection("Head");
    }
    if (IsSectionDefined("Foot"))
    {
        IgnoreSection("Foot");
    }
}
@if (_env.EnvironmentName == "Staging" || _env.EnvironmentName == "Production")
{
    if (IsSectionDefined("HeadDevelopment"))
    {
        IgnoreSection("HeadDevelopment");
    }
    if (IsSectionDefined("FootDevelopment"))
    {
        IgnoreSection("FootDevelopment");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Portal</title>

    <environment names="Development">
        @Html.Partial("Lib/_Bootstrap.css")
        @RenderSection("HeadDevelopment", false)
    </environment>
    <environment names="Staging,Production">
        @Html.Partial("Lib/_Bootstrap.min.css")
        @RenderSection("Head", false)
    </environment>
</head>
<body>
@await Html.PartialAsync("Part/_Toolbar")
@if (IsSectionDefined("Header"))
{
    @RenderSection("Header", false)
}
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2017 - Portal</p>
    </footer>
</div>

<environment names="Development">
    @Html.Partial("Lib/_Popper.js")
    @Html.Partial("Lib/_jQuery.js")
    @Html.Partial("Lib/_Bootstrap.js")
    @RenderSection("FootDevelopment", false)
</environment>
<environment names="Staging,Production">
    @Html.Partial("Lib/_Popper.min.js")
    @Html.Partial("Lib/_jQuery.min.js")
    @Html.Partial("Lib/_Bootstrap.min.js")
    @RenderSection("Foot", false)
</environment>
@RenderSection("Scripts", false)
</body>
</html>