@using System
@using Microsoft.AspNetCore.Mvc.Rendering
@using Portal.Utils
@{
    Layout = "_ProjectsLayout";
    ViewData["Title"] = "Home Page";
}

<h2>Projects</h2>

<div class="projects-search form-group">
    <form class="form-inline" accept-charset="UTF-8">
        <div class="projects-search-input">
            <input class="form-control" type="text" placeholder="Search projects..."/>
        </div>
        <div class="projects-search-new">
            <a class="btn btn-success" asp-controller="Projects" asp-action="Index" asp-route-uuid="New">
                @Html.Partial("~/Views/Shared/Icon/_MinecraftPickAxe.cshtml")
                New
            </a>
        </div>
    </form>
</div>

<div class="projects-list">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="projects-title">
                    <h3>
                        <a asp-area="" asp-controller="Projects" asp-action="Index" asp-route-uuid="@item.Id">@item.Name</a>
                    </h3>
                </div>
                <div class="projects-info">
                    <span>
                        @Html.Partial("~/Views/Shared/Icon/_MinecraftDirt.cshtml")
                        Minecraft @item.MinecraftVersion
                    </span>
                    <span>
                        @Html.Partial("~/Views/Shared/Icon/_MinecraftDiamond.cshtml")
                        Forge @item.ForgeVersion
                    </span>
                    <span>
                        @{
                            TimeSpan diff = DateTime.UtcNow - item.UpdatedAt;
                            if (diff.TotalDays > 365)
                            {
                                @:Updated on @item.UpdatedAt.ToString("dd MMM yyyy")
                            }
                            else if (diff.TotalDays > 30)
                            {
                                @:Updated on @item.UpdatedAt.ToString("dd MMM")
                            }
                            else
                            {
                                @:Updated @TimeUtil.GetRelativeTimeLabel(diff)
                            }
                        }
                    </span>
                </div>
            </li>
        }
    </ul>
</div>