@using Microsoft.AspNetCore.Mvc.Rendering
@using Portal.Utils
@model Portal.Models.ProjectsViewModel.IndexViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Projects";
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/projects.min.css"/>
}
@section FootDevelopment {
    <script src="~/js/projects.js" asp-append-version="true"></script>
}
@section Foot {
    <script src="~/js/projects.min.js"></script>
}

<h2>Projects</h2>

<div class="form-group mt-4">
    <form class="form-inline" accept-charset="UTF-8">
        <input id="projects-search-input" class="form-control mr-4" type="text" placeholder="Search projects..."/>
        <div>
            <a class="btn btn-success btn-svg-icon" asp-controller="Projects" asp-action="Index" asp-route-uuid="New">
                @Html.Partial("~/Views/Shared/Icon/_MinecraftPickAxe.cshtml")
                New
            </a>
        </div>
    </form>
</div>

<div id="projects-list">
    <ul>
        @foreach (var item in Model.Projects)
        {
            <li>
                <div>
                    <h3>
                        <a asp-area="" asp-controller="Projects" asp-action="Index" asp-route-uuid="@item.Id">@item.Name</a>
                    </h3>
                </div>
                <div>
                    <span class="svg-icon-18">
                        @Html.Partial("~/Views/Shared/Icon/_MinecraftDirt.cshtml")
                        Minecraft @item.MinecraftVersion.Version
                    </span>
                    <span class="svg-icon-18">
                        @Html.Partial("~/Views/Shared/Icon/_MinecraftDiamond.cshtml")
                        Forge @item.ForgeVersion.Version
                    </span>
                    <span>
                        @{
                            var diff = DateTime.UtcNow - item.UpdatedAt;
                            if (diff.TotalDays > 365)
                            {
                                @:Updated on @item.UpdatedAt.ToString("dd MMM yyyy")
                            }
                            else if (diff.TotalDays > 30)
                            {
                                @:Updated on @item.UpdatedAt.ToString("dd MMM")
                            }
                            else
                            {
                                @:Updated @TimeUtil.GetRelativeTimeLabel(diff)
                            }
                        }
                    </span>
                </div>
            </li>
        }
    </ul>
</div>