@using Portal.Utils
@model Portal.Models.AdminViewModels.UserDetailPostViewModel
@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Admin Area";
    ViewBag.SubTitle = $"Delete user : {Model.User.UserName}";
}
@section Sidebar {
    @Html.Partial("Part/_AdminSidebar", 1)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/admin.min.css"/>
}

<h3>Delete user</h3>
<hr/>

<p>
    This action <span class="font-weight-bold">connot</span> be undone. This will permanently delete this user and all projects created by this user.
</p>
<p>Please type in the username to confirm.</p>

<form asp-controller="Admin" asp-action="Users" asp-route-id="@Model.User.Id" asp-route-subaction="Delete" asp-route-returnurl="@ViewBag.ReturnUrl" method="post">
    <div class="form-group-dummy row">
        <span class="col-md-2">User</span>
        <div class="col-md-10">
            @Html.GravatarImage(Model.User.Email, 32, GravatarHtmlHelper.DefaultImage.Identicon, cssClass: "rounded")
            <span class="ml-2">@Model.User.UserName</span>
        </div>
    </div>
    <input asp-for="DeleteViewModel.UserNameConfirm" class="form-control" type="hidden" value="@Model.User.UserName"/>
    <div class="form-group row">
        <label asp-for="DeleteViewModel.UserName" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="DeleteViewModel.UserName" class="form-control"/>
            <span asp-validation-for="DeleteViewModel.UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10 offset-md-2">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Misc/_ValidationScriptsPartial"); }
}