@using Portal.Utils
@model Portal.Models.AdminViewModels.UserDetailPostViewModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Reset password";
}

@section Sidebar {
    @Html.Partial("Part/_AdminSidebar", 1)
}

<h3>Reset password</h3>
<hr/>

<form asp-controller="Admin" asp-action="Users" asp-route-id="@Model.User.Id" asp-route-subaction="ResetPassword" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-user-info">
        <span class="col-md-2">User</span>
        <div class="col-md-10">
            @Html.GravatarImage(Model.User.Email, 32, GravatarHtmlHelper.DefaultImage.Identicon)
            <span>@Model.User.UserName</span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ResetPasswordViewModel.Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ResetPasswordViewModel.Password" class="form-control"/>
            <span asp-validation-for="ResetPasswordViewModel.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ResetPasswordViewModel.ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ResetPasswordViewModel.ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ResetPasswordViewModel.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Reset</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Misc/_ValidationScriptsPartial"); }
}