@using Portal.Utils
@model Portal.Models.AdminViewModels.VersionDetailViewModel
@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Admin Area";
    ViewBag.SubTitle = "Asset";
    var count = Model.ForgeVersions.Count();
}
@section Sidebar {
    @Html.Partial("Part/_AdminSidebar", 3)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/admin.min.css"/>
}

@switch (ViewBag.Message)
{
    case "success_save":
        <div class="alert alert-success" role="alert">Saved successfully.</div>
        break;
    case "success_create":
        <div class="alert alert-success" role="alert">Created successfully.</div>
        break;
    case "success_create_forge":
        <div class="alert alert-success" role="alert">Created new Forge successfully.</div>
        break;
    case "success_pull_image":
        <div class="alert alert-success" role="alert">Pulling Docker image successfully.</div>
        break;
}

<h3>Minecraft @Model.MinecraftVersion.Version</h3>

<div class="card">
    <div class="card-header">
        Information
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Id : <span class="font-weight-bold">@Model.MinecraftVersion.Id</span></li>
        <li class="list-group-item">DockerImageVersion : <span class="font-weight-bold">@Model.MinecraftVersion.DockerImageVersion</span></li>
    </ul>
</div>

<div class="card">
    <div class="card-header card-header-btn">
        <span>Forge</span>
        <a class="btn btn-sm btn-success" asp-controller="Admin" asp-action="Versions" asp-route-id="@Model.MinecraftVersion.Id" asp-route-subaction="New">New</a>
    </div>
    @if (!Model.ForgeVersions.Any())
    {
        <div class="card-body">
            No Forge version found.
        </div>
    }
    else
    {
        <ul class="list-group list-group-flush">
            @foreach (var forgeVersion in Model.ForgeVersions.Indexed())
            {
                <li class="list-group-item">
                    <div class="card-item-btn-container">
                        <div>
                            <p>
                                @forgeVersion.item.Version @if (forgeVersion.item.IsRecommend)
                                                           {
                                                               @:★
                                                           }</p>
                            <p>
                                Id : <span class="font-weight-bold">@forgeVersion.item.Id</span>
                            </p>
                        </div>
                        @if (forgeVersion.index != 0)
                        {
                            <a class="btn btn-sm btn-outline-primary btn-ordering-up" asp-controller="Admin" asp-action="Versions"
                               asp-route-id="@Model.MinecraftVersion.Id" asp-route-subaction="@forgeVersion.item.Id"
                               asp-route-subsubaction="Up">
                                ↑
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-outline-secondary btn-default btn-ordering-up disabled">↑</a>
                        }
                        @if (forgeVersion.index != count - 1)
                        {
                            <a class="btn btn-sm btn-outline-primary btn-ordering-down" asp-controller="Admin" asp-action="Versions"
                               asp-route-id="@Model.MinecraftVersion.Id" asp-route-subaction="@forgeVersion.item.Id"
                               asp-route-subsubaction="Down">
                                ↓
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-outline-secondary btn-ordering-down disabled">↓</a>
                        }
                        <a class="btn btn-sm btn-primary mr-3" asp-controller="Admin" asp-action="Versions"
                           asp-route-id="@Model.MinecraftVersion.Id" asp-route-subaction="@forgeVersion.item.Id"
                           asp-route-subsubaction="Download">
                            Download
                        </a>
                        <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Versions"
                           asp-route-id="@Model.MinecraftVersion.Id" asp-route-subaction="@forgeVersion.item.Id"
                           asp-route-subsubaction="Edit">
                            Edit
                        </a>
                    </div>
                </li>
            }
        </ul>
    }
</div>

<div class="card">
    <div class="card-header">
        Action
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="card-item-btn-container">
                <div>
                    <p>Edit Docker image version</p>
                    <p>Change Docker image version to use for building project.</p>
                </div>
                <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Versions"
                   asp-route-id="@Model.MinecraftVersion.Id" asp-route-subaction="DockerImageVersion">
                    Edit
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card-item-btn-container">
                <div>
                    <p>Pull Docker image</p>
                    <p>Pulling Docker image for current Docker image version.</p>
                </div>
                <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Versions"
                   asp-route-id="@Model.MinecraftVersion.Id" asp-route-subaction="PullDockerImage">
                    Start
                </a>
            </div>
        </li>
    </ul>
</div>